[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
langchain = "*"
cohere = "*"
openai = "*"
qdrant-client = "*"
unstructured = {extras = ["local-inference"], version = "*"}
detectron2 = {ref = "v0.6", git = "https://github.com/facebookresearch/detectron2.git"}
layoutparser = {extras = ["layoutmodels", "tesseract"], version = "*"}
nltk = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"

# Brew packages
libmagic = {system = true, package = "libmagic"}
poppler = {system = true, package = "poppler"}
tesseract = {system = true, package = "tesseract"}
libxml2 = {system = true, package = "libxml2"}
libxslt = {system = true, package = "libxslt"}